ChequeWatcher/Connected Services/ChequeServiceWCF/ChequeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50236/ChequeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ChequeWCF.Models" />
  <xs:element name="SendCheque">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ChequeWCF.Models" minOccurs="0" name="cheque" nillable="true" type="q1:Cheque" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendChequeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendChequeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheques">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChequesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ChequeWCF.Models" minOccurs="0" name="GetChequesResult" nillable="true" type="q2:ArrayOfCheque" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>